.container canvas,
.container img {
	width: 24%;
	border: 1px solid red;
	margin: 0.25%;
}

.graph {
	display: inline-block;
}

#mainCanvas {
	border: 1px solid black;
}

#stats {
	position: absolute;
	top: 5px;
	left: 5px;
}